body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 50px;
}

select {
  font-size: 20px;
}

/* Damit man den Umriss vom SVG erkennen kann */
svg {
  border: 1px solid black;
}

.wrapper {
  white-space: nowrap;
  overflow: visible;
}

.left {
  float: left;
  margin-right: 20px;
}

#bar-chart g {
  transition: opacity 500ms ease;
}

.bar {
  stroke: black;
  stroke-width: 0.1;
   /* Dieser Wert sollte gleich 'barChartTransitionInMs' in bc.js sein */
  transition: width 750ms ease;
}

.bar-text {
  font-size: 2px;
}
