body {
  font-family: sans-serif;
  font-size: 20px;
  margin: 50px;
}

select {
  font-size: 20px;
}

svg {
  /* Damit man den Umriss vom SVG erkennen kann */
  border: 1px solid black;
}

.wrapper {
  white-space: nowrap;
  overflow: visible;
}

.left {
  float: left;
  margin-right: 20px;
}

#map path {
  /* Falls der path kein fill hat */
  pointer-events: all;
}

#map path:hover {
  stroke: red;
  stroke-width: 0.2;
}

#bar-chart g {
  transition: opacity 500ms ease;
}

#bar-chart g text {
  font-size: 2px;
}

#bar-chart g rect {
  stroke: black;
  stroke-width: 0.1;
   /* Dieser Wert sollte gleich 'barChartTransitionInMs' in bc.js sein */
  transition: width 750ms ease;
}
